[flake8]
exclude =
	.build,
	.git,
	.idea,
	.cache, 
	__pycache__,
	log,
	venv,
	__init__.py,
	tests

max-line-length = 120
max-complexity = 10
filename = *.py
format = default
inline-quotes = "
max-function-return-stmts = 6
ignore =
    # G004 Logging statement uses f-string
    G004,
    # SCS109 Use of builtin `open` for writing is discouraged in favor of `os.open` to allow for setting file permissions
    SCS109,
