# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/api/__pycache__
/api/protocol/__pycache__/__init__.cpython-34.pyc
/api/protocol/__pycache__/tapvisorprotocolparser.cpython-34.pyc
/dbschema/__pycache__/shared.cpython-34.pyc
/dbschema/__pycache__
/system/__pycache__
/system/utils/__pycache__
/api/owner_sub_queries/__pycache__
/api/owner_sub_routes/__pycache__
/api/debug_sub_routes/__pycache__
/api/dcd/__pycache__
/api/reports_sub_routes/__pycache__
/api/menu/__pycache__
/api/settings/__pycache__
/api/about/__pycache__
__pycache__

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#project files
/instance_uid.py
/log
/tmp
/sendfile_download/
node_modules
cached_uglify
.idea
.build/
*.log
/dev
*.lprof
test.py
